body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    line-height: 1.8em;
    color: #666;
}

.img1
{
    background-image: url(/Project3_ParallaxWebsite/image1.jpeg);
    min-height: 100%;
}
.img2
{
    background-image: url(/Project3_ParallaxWebsite/image2.jpeg);
    min-height: 400px;
}

.img3
{
    background-image: url(/Project3_ParallaxWebsite/image3.jpeg);
    min-height: 400px;
}

.img1, .img2, .img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textBg{
    color:white;
    background-color: rgb(55, 50, 50);
    padding: 18px;
}

.sectionText{
    padding: 50px 70px;
    text-align: center;
}

.section1, .section3{
    background-color: rgb(222, 219, 219);
    color: black;
}

.section2{
    background-color: #666;
    color: white;
}

