*{
    box-sizing: border-box;
}
.box{
    background-color: rgb(240, 232, 232);
    padding: 30px;
    margin: 100px 300px;
    border: 1px solid rgb(170, 166, 166);
    border-radius: 5px;
}
h1{
    color: #95959a;
}
.iconbutton,.signup{
    padding: 16px*2 0;
    text-align: center;
}
form{
    padding: 16px;
    width: 16px*20;
    margin: 0 auto;
    text-align: center;
}

label{
   display: block;
    margin: 16px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="password"]{
    border-radius: 16px;
    padding: 10px;
    border-color: rgb(232, 237, 240);
    width: 250px;
    background-color: #bbbbc0;
}

.loginbutton{
    color: red;
    border-radius: 16px;
    padding: 10px;
    border-color: rgb(215, 221, 227);
    width: 280px;
    font-weight: bolder;
    background-color: #bbbbc0;
    box-shadow: -3px -3px 10px rgb(238, 232, 232), 4px 4px 10px #bbbbc0;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

button{
    color: #61677C;
    font-weight: bold;
    border-color: aliceblue;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(218, 212, 212);
}

.btncls{
    border-radius: 8px;
    width: 40px;
    height: 40px;
    font-size: 16px*1.2;
    margin: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbc0;
}

.searcharea{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding-left: 20px;
}

.searcharea label{
    margin: 0;
}
